body{
    background-color: hsl(185, 75%, 39%);
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: top -500px left -220px, bottom -600px right -300px;
}

.container{
    position: relative;
    width: 360px;
    margin: auto;
    margin-top: 220px;
    border-radius: 15px;
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    background-color: white;
}

#photo{
    border: 4px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 133px;
}

#patt{
    width: 400px;
}

.person{
    margin-top: 70px;
}

#name{
    font-weight: 700;
    font-size: 18px;
    color: hsl(229, 23%, 23%);
    line-height: 10px;
}

#age{
    color: hsl(227, 10%, 46%);
    font-weight: 400;
    margin-left: 4px;
}

#city{
    color: hsl(0, 0%, 59%);
}

.stats{
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(228, 226, 226);
    padding-top: 15px;
    padding-bottom: 10px;
}

.small{
    color: hsl(227, 10%, 46%);
    font-weight: 400;
    font-size: x-small;
    letter-spacing: .1rem;
}

.sts{
    display: inline-block;
    flex: 1;
    line-height: 2px;
    color: hsl(229, 23%, 23%);
}

/* responsive */
@media screen and (max-width:375px){
    body{
        background-position: top -570px left -750px, bottom -650px right -740px;
    }
    .container{
        width: 340px;
    }
}